.buttonBox{
    width: 18.125rem;
    border: 1px solid black;
    border-left:0;
    border-bottom:0;
    margin: 0;
}

.myPage{
    display: inline-block;
    margin: 0;
    border-right: 1px solid black;
    width: 10rem;
    text-align: center;
}

.logOut{
    display: inline-block;
    margin: 0;
    width: 7.93rem;
    text-align: center;
}